<a href="https://colab.research.google.com/github/megancoll/megan_INFO5731_-Spring2022/blob/main/In_class_exercise/megan_In_class_exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/07/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [38]:
# write your answer here

txt = "I am studying Computational Linguistics."
print(len(txt))

40

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [39]:
# write your answer here

char_count = {}

for x in txt:
  if x in char_count:
    char_count[x] += 1
  else:
    char_count[x] = 1

print(char_count)

{'I': 1, ' ': 4, 'a': 3, 'm': 2, 's': 3, 't': 4, 'u': 3, 'd': 1, 'y': 1, 'i': 5, 'n': 3, 'g': 2, 'C': 1, 'o': 2, 'p': 1, 'l': 1, 'L': 1, 'c': 1, '.': 1}

In [40]:
import operator

In [41]:
sorted_d = dict(sorted(char_count.items(), key=operator.itemgetter(1),reverse=True))
print(sorted_d)

{'i': 5, ' ': 4, 't': 4, 'a': 3, 's': 3, 'u': 3, 'n': 3, 'm': 2, 'g': 2, 'o': 2, 'I': 1, 'd': 1, 'y': 1, 'C': 1, 'p': 1, 'l': 1, 'L': 1, 'c': 1, '.': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [42]:
# write your answer here

items = [1, 1, 5, 3]
print(sum(items))

10

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [43]:
# write your answer here

given = "anaconda"
new = ""

for i in range(len(given)):
  if i == 0:
    first = given[0]
    new += first
  else:
    if given[i] == first:
      new += "$"
    else:
      new += given[i]

print(new)

an$cond$

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [44]:
# write your answer here

def solve(a, b):
  S = 3.14*(1+(a/b))**3
  return S

solve(0,1)

3.14

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [45]:
# write your answer here

dic1 = {1:10,4:40}
dic2 = {2:20,5:50}
dic3 = {3:30,6:60}
dic4 = dict(list(dic1.items()) + list(dic2.items()) + list(dic3.items()))

print(dic4)

{1: 10, 4: 40, 2: 20, 5: 50, 3: 30, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [46]:
# write your answer here

tup = ("dogs", "cats", 25, 400, "bird")
print("dogs" in tup)
print("24" in tup)

True
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [47]:
# write your answer here

aSet = {65, 34, 786, 12, 3}
mnm = min(aSet)
mxm = max(aSet)

print(mnm)
print(mxm)

3
786

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [48]:
# write your answer here

import random
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

group_sz = [4,4,5,5,6,6]
random.shuffle(group_sz)
teams = []

for l in group_sz:
  members = random.sample(studnet_list, l)
  studnet_list = list(set(studnet_list) ^ set(members)) #rewriting new studnet_list
  teams = teams + [members]

for r in teams:
  print(r)

['ak0956', 'sb1357', 'kg0569', 'vb0218']
['sg1297', 'jl1252', 'sm1907', 'dr0609', 'sk1386', 'kg0470']
['sa1198', 'sc1229', 'vm0377', 'gn0108', 'ms1500']
['nv0234', 'nm0618', 'sk1458', 'bg0320']
['aos0040', 'ak0934', 'hy0232', 'ja0964', 'sm1640']
['ds0814', 'sk1390', 'pr0353', 'sk1313', 'av0659', 'fh0141']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [49]:
# write your answer here


def checker(intarray):
  d = {}
  for n in intarray:
    if n in d:
      d[n] += 1
    else:
      d[n] = 1
  
  if max(d.values()) == 1:
    return -1
  else:
    return [y for y in d.keys() if d[y] > 1]

intarray = [1, 3, 5324, 3, 5324]
print(checker(intarray))

intarray2 = [1, 3, 5324]
print(checker(intarray2))

[3, 5324]
-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [50]:
# write your answer here

from datetime import date, timedelta

In [51]:
def allSundays(year):
  d = date(year, 1, 1)
  d += timedelta(days = 6 - d.weekday())
  while d.year == year:
    yield d
    d += timedelta(days=7)


for d in allSundays(2023):
  print(d)

2023-01-01
2023-01-08
2023-01-15
2023-01-22
2023-01-29
2023-02-05
2023-02-12
2023-02-19
2023-02-26
2023-03-05
2023-03-12
2023-03-19
2023-03-26
2023-04-02
2023-04-09
2023-04-16
2023-04-23
2023-04-30
2023-05-07
2023-05-14
2023-05-21
2023-05-28
2023-06-04
2023-06-11
2023-06-18
2023-06-25
2023-07-02
2023-07-09
2023-07-16
2023-07-23
2023-07-30
2023-08-06
2023-08-13
2023-08-20
2023-08-27
2023-09-03
2023-09-10
2023-09-17
2023-09-24
2023-10-01
2023-10-08
2023-10-15
2023-10-22
2023-10-29
2023-11-05
2023-11-12
2023-11-19
2023-11-26
2023-12-03
2023-12-10
2023-12-17
2023-12-24
2023-12-31