<a href="https://colab.research.google.com/github/megancoll/megan_INFO5731_-Spring2022/blob/main/In_class_exercise/megan_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [6]:
# Your code here

import random

glist = []
n = 12
for i in range(n):
  glist.append(random.randint(1,100))

# Ascending Numbers printed
glist.sort()
print(glist)

# Descending Numbers printed
glist.sort(reverse = True)
print(glist)

import numpy as np
avg = np.average(glist)
print(avg)

[3, 16, 18, 29, 36, 49, 50, 66, 94, 94, 97, 98]
[98, 97, 94, 94, 66, 50, 49, 36, 29, 18, 16, 3]
54.166666666666664

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

(1)

In [22]:
# Your code here

input1 = input("Please enter a sentence: ")
input2 = input("Please enter a sentence: ")

inputs = input1 + "\n" + input2
print(inputs)

Please enter a sentence: Alas! Am I alive? This is my first python program
Please enter a sentence: Hello World! This is my second sentence entered
Alas! Am I alive? This is my first python program
Hello World! This is my second sentence entered

(2)

In [23]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
from nltk.tokenize import word_tokenize

In [24]:
list1 = word_tokenize(input1)
list2 = word_tokenize(input2)

print(list1)
print(list2)

['Alas', '!', 'Am', 'I', 'alive', '?', 'This', 'is', 'my', 'first', 'python', 'program']
['Hello', 'World', '!', 'This', 'is', 'my', 'second', 'sentence', 'entered']

(3)

In [106]:
list3 = []

for l1 in list1:
  for l2 in list2:
    if (l1 == l2) & (l1.isalpha()):
      list3.append(l2)

print(list3)

['This', 'is', 'my']

(4)

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

In [ ]:
import string

In [27]:
new_list1 = []
new_list2 = []

for word in list1:
  if word not in string.punctuation:
    new_list1.append(word)

for word in list2:
  if word not in string.punctuation:
    new_list2.append(word)

print(new_list1)
print(new_list2)

['Alas', 'Am', 'I', 'alive', 'This', 'is', 'my', 'first', 'python', 'program']
['Hello', 'World', 'This', 'is', 'my', 'second', 'sentence', 'entered']

(5)

In [29]:
from collections import Counter

In [107]:
vowels = ["a","e","i","o","u"]

c1 = Counter(input1.lower())
vowel_c1 = {}

for letter in c1.keys():
  if letter in vowels:
    vowel_c1[letter] = c1[letter]

c2 = Counter(input2.lower())
vowel_c2 = {}

for letter in c2.keys():
  if letter in vowels:
    vowel_c2[letter] = c2[letter]

print(vowel_c1)
print(vowel_c2)

{'a': 5, 'i': 5, 'e': 1, 'o': 2}
{'e': 8, 'o': 3, 'i': 2}

In [108]:
import operator

In [109]:
sorted_d1 = dict(sorted(vowel_c1.items(), key=operator.itemgetter(1),reverse=True))

sorted_d2 = dict(sorted(vowel_c2.items(), key=operator.itemgetter(1),reverse=True))

print(sorted_d1)
print(sorted_d2)

{'a': 5, 'i': 5, 'o': 2, 'e': 1}
{'e': 8, 'o': 3, 'i': 2}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [34]:
import math

In [104]:
# Your code here

def solve(r):
  V = (4/3) * math.pi * (r**3)
  return V

print("r" + "\t" + "V")


for i in range(1,11):
  print(str(i) + "\t" + str(solve(i)))

r	V
1	4.1887902047863905
2	33.510321638291124
3	113.09733552923254
4	268.082573106329
5	523.5987755982989
6	904.7786842338603
7	1436.7550402417319
8	2144.660584850632
9	3053.6280592892786
10	4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

(1)

In [46]:
# Your code here

from collections import defaultdict

In [48]:
years_dict = defaultdict(dict)
lines = []
with open("Assignment1_denton_housing.csv", "r") as inf:
  for line in inf.readlines()[1:]:
    l = line.strip("\n")
    lines.append(l.split(sep=","))

for l in lines:
  year = l[0]
  cat = l[1]
  val = l[2]
  years_dict[year][cat] = val

df = pd.DataFrame.from_dict(years_dict)

df = df.T
df = df.sort_index()

In [129]:
changes_dict = {}

for i in range(len(df.index) - 1):
  current = df.index[i]
  next = df.index[i+1]
  span = current + "-" + next
  current_occupied = df.loc[current, "Occupied Housing Units"]
  next_occupied = df.loc[next, "Occupied Housing Units"]
  change = int(next_occupied) - int(current_occupied)
  changes_dict[span] = abs(change)

for years, change in sorted(changes_dict.items(), key=lambda x: x[1]):
  print(years + (": ") + str(change))

2010-2011: 303
2008-2009: 795
2011-2012: 1404
2012-2013: 1565
2013-2014: 2622
2009-2010: 5091

(2)

In [62]:
print("YEAR" + "\t" + "Vacant" + "\t" + "Occupied")
for year in df.index:
  total = int(df.loc[year, "Total Housing Units"])
  occ = float(df.loc[year, "Occupied Housing Units"]) * 100
  vac = float(df.loc[year, "Vacant Housing Units"]) * 100
  print(year + "\t" + str(round(vac/total, 3))+"%" + "\t" + str(round(occ/total, 3))+"%")

YEAR	Vacant	Occupied
2008	10.883%	89.117%
2009	9.071%	90.929%
2010	8.143%	91.857%
2011	9.38%	90.62%
2012	6.678%	93.322%
2013	8.802%	91.198%
2014	5.73%	94.27%

(3)

In [99]:
max_vac = max(df.loc[:, "Vacant Housing Units"])
max_vac_year = df[df["Vacant Housing Units"] == max_vac].index[0]

max_occ = max(df.loc[:, "Occupied Housing Units"])
max_occ_year = df[df["Occupied Housing Units"] == max_occ].index[0]

print("\t" + "\t" + "\t", "Year" + " " + "Value")
print("Vacant Housing Units" + "\t", max_vac_year, max_vac)
print("Occupied Housing Units" + "\t", max_occ_year, max_occ)

			 Year Value
Vacant Housing Units	 2008 4483
Occupied Housing Units	 2014 46295

(4)

In [101]:
import statistics
from pandas._libs.lib import to_object_array_tuples

In [102]:
totals = list(df.loc[:, "Total Housing Units"])
totals = [int(n) for n in totals]
harm_mean = statistics.harmonic_mean(totals)

print(harm_mean)

44398.28543969185